ul{
	list-style-type: none;
	width: 20%;
	padding: 0;
	margin: 0;
}

li a{
	display: block;
	background-color: #adff7a;
	padding: 9px;
	text-decoration: none;
	font-family: verdana;
}

li a:hover{
	display: block;
	background-color: #4c9e18;
	color: #ace6de;
	text-decoration: none;
}

li a.activo{
	background-color: #33700c;
	color: #c5e3df;
}